{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{- .Content -}}
      DEBUG: Current Category Term: {{ .Data.Term }}
      DEBUG: Articles in Data: {{ len $.Site.Data.articles }}
      {{ range $.Site.Data.articles }}
        DEBUG: Article Content Type: {{ .content_type }}, Current Category Term: {{ $.Data.Term }}, Match: {{ eq .content_type $.Data.Term }}
      {{ end }}
    </section>
    <section class="flex-ns mt5 flex-wrap justify-around">
      {{ $currentCategory := "blog" }} <!-- Hardcode "blog" as content_type for blog_post category -->
      {{ range $.Site.Data.articles }}
        {{ if eq .content_type $currentCategory }}
          <div class="w-100 w-30-l mb4 relative bg-white">
            <a href="{{ .url }}" class="db link blue hover-dark-blue">
              <div class="bg-white mb3 pa4 gray overflow-hidden">
                <span class="f6 db">{{ .publication_date | dateFormat "January 2, 2006" }}</span>
                <h1 class="f3 lh-title mb3">{{ .title }}</h1>
                <div class="nested-links f5 lh-copy gray mb3">
                  <p>{{ .summary }}</p>
                </div>
                <div class="mt3">
                  {{ range .tags }}
                    <a href="#" class="f6 link dim ba bw1 ph3 pv2 mb2 dib mr2" rel="tag">{{ . }}</a>
                  {{ end }}
                </div>
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
